<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
  </head>
  <body>
    <%- include('./partials/_navbar.ejs') %>
    <h1>Welcome to CookBook</h1>
    <% recipes.forEach((recipe)=>{ %>
      <h2><%= recipe.name %></h2>
      <h3>by <%= recipe.owner.username %> </h3>
    <% }) %>
  </body>
</html>