<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>

  <h1>ingredients</h1>

  <form method="post" action="/ingredients">
    <label for="name">Name of ingredient:</label>
    <input type="text" name="name" id="name" />
  
    <button type="submit">Add ingredient</button>
  </form>

  <% ingredients.forEach((ingredient)=>{ %>
    <h2><%= ingredient.name %></h2>
  <% }) %>

</body>
</html>